<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace" >

    <!-- Определение переменных -->
    <variable name="logDirectory" value="/Users/alexandrmitin/Documents/lab1/lab1-2/lab/logs" />

    <!-- Определение целевых объектов -->
    <targets>
        <target name="logconsole" xsi:type="Console" />
        <target xsi:type="File" name="allfile" fileName="${logDirectory}/lab-all-${shortdate:format=yyyy-MM-dd}.log" />
    </targets>

    <!-- Правила логирования -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="*" levels="Error, Info, Debug" writeTo="logconsole" />
    </rules>
</nlog>